@import "tailwindcss";

@layer utilities {
  :root {
    --background: #ffffff;
    --foreground: #1f2937;
  }
}

body {
  background-color: var(--background);
  color: var(--foreground);
}

@layer components {
  /* Títulos */
  .titulo-principal {
    font-size: 2.25rem; 
    line-height: 2.5rem;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    font-weight: 700;
    color: #ffffff;
  }
  @media (min-width: 768px) {
    .titulo-principal {
      font-size: 3.75rem; 
      line-height: 1;
    }
  }

  /* Subtítulos del Carrusel */
  .subtitulo-carrusel {
    font-size: 0.75rem;
    letter-spacing: 0.3em;
    text-transform: uppercase;
    font-weight: 600;
    color: #e5e7eb;
  }
  @media (min-width: 768px) {
    .subtitulo-carrusel {
      font-size: 0.875rem;
    }
  }

  /* Sub-Subtítulos */
  .seccion-etiqueta-roja {
    font-size: 1rem;
    letter-spacing: 0.2em;
    font-weight: 700;
    color: #dc2626; 
    text-transform: uppercase;
    display: block;
  }

  /* Sub-títulos */
  .titulo-seccion {
    font-size: 1.875rem; 
    letter-spacing: 0.05em;
    font-weight: 600;
    color: #780606; 
  }
  @media (min-width: 768px) {
    .titulo-seccion {
      font-size: 2.25rem; 
    }
  }

  /* Texto */
  .cuerpo-texto-xl {
    font-size: 1.25rem; 
    line-height: 1.75rem;
    font-weight: 400;
    color: #1f2937;
  }

  /* Botones */
  .boton-elegante {
    border: 1px solid #9ca3af;
    font-size: 0.75rem;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    padding: 0.75rem 2rem;
    transition: all 0.3s;
    font-weight: 500;
    color: #374151;
    background-color: #ffffff;
    cursor: pointer;
  }
  .boton-elegante:hover {
    border-color: #780606;
  }
}